
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Moje turnieje
        <span class="pull-right">
        <button class="btn btn-primary" (click)="addTournament()">Stwórz</button>
        </span>
      </h1>
    </div>


  <div *ngIf="isDataLoaded">
    <div *ngFor="let tournament of tournaments" class="col-md-4 fadeInFromLeftAnimation">
      <div class="panel panel-default ">
        <div class="panel-heading">
          <div class="panel-group">
            <div class="col-md-1 test">
            <i class="fa fa-fw fa-check fa-1-3x"></i>
            </div>
            <h4> {{tournament?.title}} <small class="text-nowrap"><i>{{tournament.startDate}} - {{tournament.endDate}}</i></small></h4>
          </div>
        </div>
        <div class="panel-body">
          <p>{{tournament.description}}</p>
          <a [routerLink]="['/tournament', tournament.id]" class="btn btn-primary">Edytuj <i class="fa fa-wrench"></i></a>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

