<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Nowy turniej
        <small class="success-green-text" *ngIf="successfullySubmitted">został poprawnie utworzony!</small>
      </h1>
    </div>
    <form (ngSubmit)="onSubmit(tournamentForm)" #tournamentForm="ngForm" class="form-horizontal">
      <div class="form-group has-feedback" [class.has-success]="title.dirty && title.valid"
           [class.has-error]="title.dirty &&  !title.valid">
        <label for="title" class="col-sm-2 control-label">Nazwa</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" [(ngModel)]="tournament.title" minlength="2" required
                 name="title" #title="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="title.valid"
                [class.glyphicon-remove]="!title.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="title.dirty && title.hasError('required')">Nazwa jest wymagana</span>
          <span class="help-block"
                *ngIf="title.dirty && title.hasError('minlength')">Nazwa musi mieć minimum 2 znaki</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="location.dirty && location.valid"
           [class.has-error]="location.dirty &&  !location.valid">
        <label for="location" class="col-sm-2 control-label">Lokalizacja</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="location" [(ngModel)]="tournament.location" minlength="5" required
                 maxlength="255"
                 name="location" #location="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="location.valid"
                [class.glyphicon-remove]="!location.valid" aria-hidden="true"></span>
          <span class="help-block"
                *ngIf="location.dirty && location.hasError('required')">Lokalizacja jest wymagana</span>
          <span class="help-block" *ngIf="location.dirty && location.hasError('minlength')">Lokalizacja musi mieć minimum 5 znaków</span>
          <span class="help-block" *ngIf="location.dirty && location.hasError('maxlength')">Lokalizacja może mieć maksimum 255 znaków</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="description.dirty && description.valid"
           [class.has-error]="description.dirty &&  !description.valid">
        <label for="description" class="col-sm-2 control-label">Opis</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" [(ngModel)]="tournament.description" minlength="5"
                 required maxlength="255"
                 name="description" #description="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="description.valid"
                [class.glyphicon-remove]="!description.valid" aria-hidden="true"></span>
          <span class="help-block"
                *ngIf="description.dirty && description.hasError('required')">Opis jest wymagany</span>
          <span class="help-block" *ngIf="description.dirty && description.hasError('minlength')">Opis musi mieć minimum 5 znaków</span>
          <span class="help-block" *ngIf="description.dirty && description.hasError('maxlength')">Opis może mieć maksimum 255 znaków</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="prize.dirty && prize.valid"
           [class.has-error]="prize.dirty &&  !prize.valid"
           [class.has-warning]="prize.dirty && prize.valid && checkPrize()">
        <label for="prize" class="col-sm-2 control-label">Nagroda (zł)</label>
        <div class="col-sm-10">
          <input type="number" step="any" min="100" max="1000000000" class="form-control" id="prize"
                 [(ngModel)]="tournament.prize" required
                 name="prize" #prize="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="prize.valid"
                [class.glyphicon-remove]="!prize.valid"
                [class.glyphicon-warning-sign]="prize.valid && checkPrize()" aria-hidden="true"></span>
          <span class="help-block" *ngIf="prize.dirty && prize.hasError('required')">Nagroda jest wymagana</span>
          <span class="help-block" *ngIf="prize.dirty && prize.valid && checkPrize()">Trochę malutko!</span>
        </div>
      </div>

      <!--<div class="form-group has-feedback">-->
        <!--<label for="startDate" class="col-sm-2 control-label">Data rozpoczęcia</label>-->
        <!--<div class="col-sm-4">-->
          <!--<input type="text" class="form-control" id="startDate"-->
                 <!--[minDate]="minDate"-->
                 <!--[maxDate]="maxDate"-->
                 <!--bsDatepicker-->
                 <!--[bsConfig]="configurationService.bsDatepickerConfig"-->
                 <!--[(ngModel)]="tournament.startDate" name="startDate" required>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group has-feedback">-->
        <!--<label for="endDate" class="col-sm-2 control-label">Data zakończenia</label>-->
        <!--<div class="col-sm-4">-->
          <!--<input type="text" class="form-control" id="endDate"-->
                 <!--[minDate]="minDate"-->
                 <!--[maxDate]="maxDate"-->
                 <!--bsDatepicker-->
                 <!--[bsConfig]="configurationService.bsDatepickerConfig"-->
                 <!--[(ngModel)]="tournament.endDate" name="endDate" required>-->
        <!--</div>-->
      <!--</div>-->



      <div class="form-group has-feedback" [class.has-success]="duration.dirty && duration.valid">
        <label for="duration" class="col-sm-2 control-label">Data</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="duration" #duration="ngModel" readonly
                 [minDate]="minDate"
                 [maxDate]="maxDate"
                 bsDaterangepicker
                 [bsConfig]="configurationService.bsDatepickerConfig"
                 [(ngModel)]="daterangepickerModel" name="duration" required>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="duration.valid"
                [class.glyphicon-remove]="!duration.valid" aria-hidden="true"></span>
        </div>
      </div>


      <div class="form-group has-feedback">
      <label for="participants" class="col-sm-2 control-label">Liczba uczestników</label>
      <div id="participants" class="col-sm-4 btn-group">
        <label class="btn btn-primary" name="participants" [(ngModel)]="participants" btnRadio="4">4</label>
        <label class="btn btn-primary" name="participants" [(ngModel)]="participants" btnRadio="8">8</label>
        <label class="btn btn-primary" name="participants" [(ngModel)]="participants" btnRadio="16">16</label>
        <label class="btn btn-primary" name="participants" [(ngModel)]="participants" btnRadio="32">32</label>
      </div>
      </div>


      <div class="form-group has-feedback">
        <label for="hasPlayoffs" class="col-sm-2 control-label">Dogrywka o 3 miejsce?</label>
        <div class="col-sm-4">
          <label name="hasPlayoff" id="hasPlayoffs" class="btn btn-primary" [(ngModel)]="hasPlayoff" btnCheckbox>
            <span class="glyphicon" [class.glyphicon-ok]="hasPlayoff" [class.glyphicon-remove]="!hasPlayoff"></span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" type="button" (click)="backToMyTournaments()">Wróć</button>
          <button class="btn btn-default" type="submit" [disabled]="!tournamentForm.valid">Utwórz</button>
        </div>
      </div>




    </form>
  </div>
</div>

