<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> E-sport web app</div>
        <p>Aplikacja internetowa wspierająca funkcjonowanie rozgrywek e-sportowych CS:GO.</p>
        <p><i class="fa fa-map-pin"></i> </p>
        <p><i class="fa fa-phone"></i></p>
        <p><i class="fa fa-envelope"></i></p>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">PRZYDATNE LINKI</h6>
        <ul class="footer-ul">
          <li><a>Career</a></li>
          <li><a>Privacy Policy</a></li>
          <li><a>Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">CO NOWEGO</h6>
        <div class="post">
          <p>Nowe bugi, żeby było co poprawiać.<span>October 23, 2017</span></p>
          <p>Zupełnie nic.<span>October 20, 2017</span></p>
          <p>Nic nowego.<span>October 10, 2017</span></p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <div>
          <div>
            <blockquote><a routerLink="registration">Załóż konto</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>2017 / 2018</p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">
          <li><a routerLink="">localhost:4200</a></li>
          <li><a routerLink="about">O aplikacji</a></li>
          <li><a routerLink="registration">Rejestracja</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

