<div class="container">
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Zaloguj się
      <small>Wprowadź poprawny email oraz hasło * na czerwono przy błędnym</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a>
      </li>
      <li class="active">Zaloguj się</li>
    </ol>
  </div>
</div>
  <form class="form-signin">
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>


    <div class="form-group has-feedback" [class.has-success]="address.dirty && address.valid" [class.has-error]="address.dirty && !address.valid">
      <label for="address" class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="address" [(ngModel)]="owner.address" name="address" required #address="ngModel"/>
        <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="address.valid" [class.glyphicon-remove]="!address.valid" aria-hidden="true"></span>
        <span class="help-block" *ngIf="address.dirty && address.hasError('required')">Address is required</span>
      </div>
    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">OK</button>
  </form>
</div>

