<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Rejestracja
      </h1>
    </div>
  </div>
  <!--<form class="form-registration">-->
  <app-alert></app-alert>
  <form class="form-registration jumbotron" name="form" (ngSubmit)="f.form.valid && register(f)" #f="ngForm" >
    <div class="col-md-6">
      <div class="form-group"
           [class.has-error]="inputEmail.dirty && !inputEmail.valid">
        <label class="col-md-1" for="inputEmail">Email</label>
        <input type="email" id="inputEmail" name="inputEmail" [(ngModel)]="model.inputEmail" #inputEmail="ngModel"
               class="form-control" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required autofocus>
        <div *ngIf="inputEmail.dirty && !inputEmail.valid" class="help-block">Email jest wymagany. </div>
        <div *ngIf="inputEmail.hasError('pattern') && inputEmail.touched" class="help-block">Email jest niepoprawny. </div>

      </div>

      <div class="form-group"
        [class.has-error]="inputPassword.dirty && !inputPassword.valid">
        <label class="col-md-1" for="inputPassword">Hasło</label>
        <input type="password" id="inputPassword" name="inputPassword" [(ngModel)]="model.inputPassword"
               #inputPassword="ngModel" class="form-control" placeholder="Hasło" minlength="5" required>
        <div *ngIf="inputPassword.dirty && !inputPassword.valid" class="help-block">Hasło jest wymagane.</div>
        <div *ngIf="inputPassword.hasError('minlength') && inputPassword.touched" class="help-block">Hasło musi mieć minimum 5 znaków.</div>
      </div>

      <div class="form-group"
           [class.has-error]="inputName.dirty && !inputName.valid">
        <label class="col-md-4" for="inputName">Nazwa zespołu</label>
        <input type="text" id="inputName" name="inputName" [(ngModel)]="model.inputName" #inputName="ngModel"
               class="form-control" placeholder="Nazwa zespołu" required>
        <div *ngIf="inputName.dirty && !inputName.valid" class="help-block">Nazwa jest wymagana.</div>

      </div>

      <div class="form-group"
        [class.has-error]="inputCountry.dirty && !inputCountry.valid">
        <label class="col-md-1" for="inputCountry">Kraj</label>
        <select type="text" class="form-control" id="inputCountry" name="inputCountry" title="country" required
                [(ngModel)]="model.inputCountry"  #inputCountry="ngModel">
          <option [ngValue]=undefined selected disabled>Wybierz kraj</option>
          <option *ngFor="let level of levels" [selected]="null" [ngValue]="level">{{level}}</option>
        </select>
        <div *ngIf="inputCountry.dirty && !inputCountry.valid" class="help-block">Kraj jest wymagany.</div>
</div>
    </div>


    <div class="col-md-5 center-glyphicon ">
      <span class="glyphicon glyphicon-log-in big-glyphicon "></span>
    </div>
            
    <div class="form-group">
      <button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block " type="submit">OK</button>
    </div>
  </form>

</div>
